bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg

crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
versionsrv*

.vscode


.DS_Store
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Debug
Makefile
Release
_CPack_Packages/
build.ninja
checksummed_*
cmake_install.cmake
gmock.pc
gmock_main.pc
googletest-build/
googletest-download/
googletest-src/
gtest.pc
gtest_main.pc
install_manifest*.txt
ninja_package
pack_*/
rules.ninja
SAN.*
testrunner\[1\]_include.cmake
vulkan_shaders_sha256.txt

/SDL2.framework

# But we still should allow to download mastersrv/twping sources
!src/mastersrv
!src/twping

generated
target

/build*
/integration_test/*

# IDE project files
.cache
.cproject
.cmake
.idea
.project
.settings
.vs
.vscode
compile_commands.json
cscope.files
cscope.out
out
tags

# bam ignores
/.bam
/config.lua
/objs

*.a
*.cmd
*.csv
*.dll
*.dmg
*.dtb
*.dylib
*.exe
*.fifo
*.filters
*.json
*.lnk
*.log
*.opensdf
*.patch
*.pdb
*.prefs
*.pyc
*.res
*.sdf
*.sln
*.so
*.sqlite
*.suo
*.swp
*.tar.gz
*.tar.xz
*.teehistorian
*.tmp
*.user
*.vcxproj
*.zip
