sv_name ""
sv_rcon_password rcon
sv_map Mine-Craft

ffs_password
xc_password

sv_max_clients 48
sv_register 1

add_vote "跳过热身,开始召唤僵尸（谨慎选择）" "skip_warmup"
add_command_vote ======= 制作 =======" "null"
add_command_vote "------ 斧头 ------" "log_axe"
add_command_vote "制作木斧(消耗10木头)" "log_axe"
add_command_vote "制作铜斧(消耗25铜锭)" "copper_axe"
add_command_vote "制作铁斧(消耗25铁锭)" "iron_axe"
add_command_vote "制作金斧(消耗25金锭)" "gold_axe"
add_command_vote "制作钻石斧(消耗10钻石)" "diamond_axe"
add_command_vote "------ 镐子 ------" "null"
add_command_vote "制作木镐(消耗25木头)" "log_pickaxe"
add_command_vote "制作铜镐(消耗25铜锭)" "copper_pickaxe"
add_command_vote "制作铁镐(消耗25铁锭)" "iron_pickaxe"
add_command_vote "制作金镐(消耗25金锭)" "gold_pickaxe"
add_command_vote "制作钻石镐(消耗10钻石)" "diamond_pickaxe"
add_command_vote "制作宇宙无敌终极能量镐(消耗10能量)" "enegry_pickaxe"
add_command_vote "------ 短剑 ------" "null"
add_command_vote "制作木剑(消耗25木头)" "log_sword"
add_command_vote "制作铁剑(消耗25铁锭)" "iron_sword"
add_command_vote "制作金剑(消耗25金锭)" "gold_sword"
add_command_vote "制作钻石剑(消耗10钻石)" "diamond_sword"
add_command_vote "制作宇宙无敌终极能量剑(消耗10能量)" "enegry_sword"
add_command_vote "======= 炮塔 =======" "null"
add_command_vote "= 会在你所在的位置生成炮塔" "null"
add_command_vote "制作普通手枪炮塔(消耗20木头和1铜锭)" "gun_turret"
add_command_vote "制作普通散弹枪炮塔(消耗25木头和5铜锭)" "shotgun_turret"
add_command_vote "制作激光枪炮塔(消耗20金子和1钻石)" "laser_turret"
add_command_vote "制作<[激光炮塔:2077]>(消耗20钻石和1能量)" "laser2077_turret"

sv_timelimit 0
